# Output of the go coverage tool, specifically when used with LiteIDE
*.out

#tmp files and folders
tmp-*
tmp/*
!*/readme.md

# dev build
/*tsg-node

clogrc/core
.env

recAssets/PixeloidSans-nR3g1.ttf

verdefactoryarchive

#ignore generated image files
**/*.png
**/*.txt
**/*.tiff
**/*.7th
**/*.mhl
**/*.pem
**/*.jpg
**/*.jpeg

x/**
ov/**

#restore images that we want
#!x/*.png
!_docs/_images/*.png
!_docs/_images/*.jpg

#ignore any temporary mounted folders (linux)
mnt/

# Mac cruft
.DS_Store

# Dependency directories (remove the comment below to include it)
# vendor/

# Test binary, built with `go test -c`
*.test